html {
    font-family: 'sans-serif';
    font-size: 62.5%;
    background: linear-gradient(plum, purple);
    height: 100vh;
    overflow: auto;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    overflow: auto;
}


#mainBoard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    background: #999;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    text-align: center;
    background: gainsboro;
    font-size: 12rem;
    border: 2px solid black;
}